main{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto',sans-serif;
}
.hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
    justify-content: center;
    max-height: 550px;
    border-bottom: 1px solid papayawhip;
}
.hero-info{
    justify-content: center;
    align-self: center;
}
.hero-info--title{
    color: #333;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 24px;
}
.hero-info--text{
    color: #333;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
.hero-info--book{
    display: flex;
    border-radius: 20px;
    border: none;
    background-color: orange;
    padding: 12px 24px;
    font-weight: bolder;
    align-items: center;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hero-info--book span{
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.hero-info--book img{
    width: 100%;
    height: 100%;
}
.hero-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero-social{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    grid-auto-rows: 1fr;
    gap: 15px;
}
.hero-social img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dishes{
    margin: 100px 0;
}
.dishes-title{
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}
.dishes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
    grid-auto-rows: 1fr;
    gap: 25px;
    justify-content: center;
}
.dishes-item_big{
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: 1 / 1 / 3 / 3 ;
}
.dishes-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.menu{
    margin-bottom: 200px;
}
.menu-title{
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.menu-grid{
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
}

.menu-grid-item{
    background-color: coral;
    padding: 15px;
    border-top-left-radius: 20px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);    
}
.menu-grid-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 768px){
    .hero{
        grid-template-columns: minmax(300px , 500px);
        justify-content: center;
    }
    .hero-pic{
        display: none;
    }
    .dishes-grid{
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }
    .menu-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 100px));
    }
}